/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
#main,
.container {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  /* background: url(./assets/background.jpg) no-repeat center fixed; */
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }
  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    background-color: rgb(239, 239, 239);
    border: 1px solid rgb(118, 118, 118);
  }
  button {
    cursor: pointer;
  }

  button:disabled {
    color: rgb(239, 239, 239) !important;
    background-color: rgb(218, 218, 218) !important;
    border: none !important;

    &:hover {
      cursor: not-allowed;

      fa-icon {
        transition: 0 !important;
        color: rgb(239, 239, 239) !important;
      }
    }
  }

  .settings {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

    fa-icon {
      color: #363636;
    }
  }
}
