.container {
  position: relative;
  background: white;

  .top-box {
    .main-title {
      display: box;
      width: 100%;
      padding: 2% 0 0 0;
      text-align: center;

      h4 {
        margin-bottom: 0;
      }
    }
  }

  .center-box {
    display: flex;
    width: 50%;
    height: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    background: #363636;
    text-align: center;

    &__input-group {
      width: 100%;

      label {
        display: block;
        margin: 0 0 1rem 0;
        padding: 0.3rem;
        background: white;
        color: #363636;
      }

      button {
        cursor: pointer;
        text-align: center;
        font-size: 1.3rem;
        min-width: 10rem;
        max-width: 20rem;
        color: black;
        word-wrap: break-word;
      }
    }
  }

  .bottom-box {
    button {
      position: absolute;
      display: block;
      bottom: 2rem;
      left: 2rem;
      height: 45px;
      width: 45px;
      border-radius: 0.6em;
      background: rgba(216, 226, 245, 1);
      border: 3px solid white;
      font-size: 1em;
      font-weight: bold;
      color: #363636;

      &:hover {
        transition: 0.4s;
        border: 3px solid #363636;
        background-color: rgb(176, 199, 241);
      }

      &:not(:hover) {
        transition: 0.4s;
      }
    }
  }
}
